<div class="comments p-3">
  {{#each this}}
  <section class="comment p-1">
    <div class="meta">
      {{user.username}} said on {{format_date created_at}}:
    </div>
    <div class="text text-info">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>