<article class="post card">
    <div class="post-title card-body bg-info">
        <h1><a href="/post/{{id}}" class="card-title">{{title}}<a></h1>
        <h4 class="card-text">
            {{format_date created_at}}
        </h4>
    </div>
</article>