<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="post-title">
        <h1>{{title}}</h1>
        <h4>
        Posted by {{user.username}} on {{created_at}}
        </h4>
      </div>
      <div class="post-text">
        <span>{{post_text}}</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>