<form class="login-form row p-3">
  <div class="col-12">
    <h2 class="text-info">Login</h2>
    <label for="username-login" class="col-12 text-info">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div class="col-12">
    <label for="password-login" class="col-12 text-info">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-info m-2">login</button>
  </div>
</form>

<form class="signup-form row p-3">
  <div class="col-12">
    <h2 class="text-info">Sign Up</h2>
    <label for="username-signup" class="col-12 text-info">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="col-12">
    <label for="password-signup" class="col-12 text-info">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-info m-2">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>